body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f9faf8;
}

/* top level flex items */
.header,
.information,
.quote,
.signup-section,
.footer {
    flex: 1 1 auto;
    padding: 5% 10%;
}

/* HEADER, FOOTER, HERO */

.header, .footer {
    padding-top: 10px;
    color: #f9faf8;
    background: #1F2937;
}

.header-line {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}

.header-line img {
    /* logo */
    background: transparent;
    height: 50px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header a {
    color: #f9faf8;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 40px;
    max-width: 50%;
}

.hero-text h1 {
    color: #f9faf8;
    margin: 0;
}

.hero-text p {
    color: #e5e7eb;
    margin-top: 0;
}

button {
    background: #3882f6;
    color: white;
    border: transparent;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: bold;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8
}

.hero-image {
    max-width: 40%;
}

.hero-image img {
    border-radius: 12px;
    max-width: 100%;
}

#header-image-credit {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
    text-align: right;
}

/* INFORMATION SECTION */

.information {
    background: white;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    max-width: 22%;
    min-width: 200px;
}

.card img {
    max-width: 100%;
    border: #1F2937 2px solid;
    border-radius: 10px;
}

.card a {
    /*text-decoration: none;*/
    color: #1F2937;
    font-size: 8px;
}

.credit {
    color: #1F2937;
    font-size: 8px;
}

/* QUOTE SECTION */

.quote {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote p {
    margin-left: auto;
    margin-right: 80px;   
    margin-top: 0px;
    font-style: normal;
    font-weight: bold;
}

/* SIGNUP SECTION */

.signup {
    display: flex;
    justify-content: space-between;
    background: #3882f6;
    color: white;
    margin: 40px 0px;
    padding: 40px 80px;
    border-radius: 10px;
}

.signup .call-to-action {
    font-weight: bold;
}

.signup-button {
    flex-shrink: 0;
}

.signup-text p {
    margin: 0;
}

.signup-button button {
    border: 1px solid #f9faf8;
}

/* FOOTER */

.footer {
    padding: 8px;
    text-align: center;
}